.logo {
  float: left;
  position: relative;
  margin: 10px 15px 15px 10px;
}

.title {
  position: relative;
  margin: 45px 40px 15px 10px;
  float: right;
}

.App-header {
  background-color: #355C7D;
  min-height: 120px;
  width: 100%;
  position: sticky;
  flex-direction: column;
  font-size: calc(20px + 2vmin);
  align-items: center;
  color: white;
}

.App-Bar {
  color: #355C7D;
}